/* Module names from around the Web
--------------------------------------------------*/

/* Misc. Module names
----------------------------------------*/
.caption {}
.control-set {}
.copyright {}
.form {}
.form-row {}
.group{}
.heading {}
.icon {}
.input {}
.list {}
.matrix {}
.slideshow {}


/* Module names from inuit.css
 * https://github.com/csswizardry/inuit.css
----------------------------------------*/
.cite {}
.extra-help {}
.field {}
.form-fields {}
.hN {} /* Heading with no specific semantic hierarchy as opposed to h1, h2, h3, etc. */
.img {}
.label {}
.progress-bar {}
.source {}
.table {}
.text-input {}


/* Module names from Twitter Bootstrap
 * https://github.com/csswizardry/inuit.css
----------------------------------------*/
.accordion {}
.alert {}
.btn {}
.carousel {}
.container {}
.dropdown {}
.dropup {}
.control-group {}
.form-actions {}
.help {}
.hero-unit {}
.media {}
.modal{}
.navbar {}
.nav {}
.pager {}
.pagination {}
.popover {}
.progress {}
.tabs {}
.well {}
